@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Superhero Database</h1>
    <p class="lead">This database contains a list of all known superheroes.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>View the Database</h2>
        <p>Check out the List!</p>
        <p><a class="btn btn-default" href="/People">Database &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Add to the Database</h2>
        <p>Add a new hero to this list!</p>
        <p><a class="btn btn-default" href="/People/Create">New Entry &raquo;</a></p>
    </div>
</div>