@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Superhero Database</h1>
    <p class="lead text-center">This database contains a list of all known superheroes.</p>
</div>



<div class="row">

    <div class="col-md-4">
        <h2 class="text-info">View the Database</h2>
        <p>Check out the List!</p>
        <p><a class="btn btn-warning" href="/People">Database &raquo;</a></p>
    </div>
    <div class="col-md-4"><img src="~/Content/Starman_modernage.jpg" /></div>
    <div class="col-md-4">
        <h2 class="text-info">Add to the Database</h2>
        <p>Add a new hero to this list!</p>
        <p><a class="btn btn-warning" href="/People/Create">New Entry &raquo;</a></p>
    </div>

</div>